@{
  Layout = "_Layout";
}

@using BonBonEtc.Models;

<h1>Pierre's Sweet and Savory Treats</h1>

<h4>Treats:</h4>
@if (Model["treats"].Length == 0)
{
  <p>No treats have been added yet.</p>
}
<ul>
  @foreach (Treat treat in Model["treats"])
  {
    <li>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId })</li>
  }
</ul>

<h4>Flavors:</h4>
@if (Model["flavors"].Length == 0)
{
  <p>No flavors have been added yet.</p>
}
<ul>
  @foreach (Flavor flav in Model["flavors"])
  {
    <li>@Html.ActionLink(@flav.Name, "Details", "Flavors", new { id = @flav.FlavorId })</li>
  }
</ul>

<p>@Html.ActionLink("Manage treats", "Index", "Treats")</p> 
<p>@Html.ActionLink("Manage Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
