@{
  Layout = "_Layout";
}

@using BonBonEtc.Models
@model BonBonEtc.Models.Flavor

<h2>Flavor's Treats</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor is not included in any treats.</p>
}
else
{
  <h4>This flavor is incorporated in the following treats:</h4>
  <ul>
  @foreach(FlavorTreat join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.TreatId })</li>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>